{% extends "layout-private.html" %}

{% block title %}
Detail Jurnal - {{ parent() }}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Detail Jurnal</strong>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th bgcolor="#FBFBFB" width="25%" style="border-top: 0px;">Kegiatan</th>
                <td style="border-top: 0px;">{{ jurnal.judul }}</td>
                <td rowspan="5" width="15%" style="border-top: 0px;">
                    <img style="width:113px;" class="img-polaroid" src="{{ base_url('userfiles/files/'~jurnal.media) }}">
                </td>
            </tr>
            <tr>
                <th bgcolor="#FBFBFB">Tanggal</th>
                <td>{{ jurnal.tanggal }}</td>
            </tr>
            <tr>
                <th bgcolor="#FBFBFB">Waktu</th>
                <td colspan="2">{{ jurnal.pukul }}</td>
            </tr>
            <tr>
                <th bgcolor="#FBFBFB">Deskripsi Kegiatan</th>
                <td>{{ jurnal.deskripsi }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
