{% extends "layout-public.html" %}

{% block title %}
Login - {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    {% if sliders is not empty %}
    <div class="span5 offset1">
        <div class="slider-wrapper theme-light">
            <div id="slider-login" class="nivoSlider">
                {% for s in sliders %}
                <img src="{{ get_url_image(s.value) }}" data-thumb="{{ get_url_image(s.value) }}" title="#html{{ s.id }}">
                {% endfor %}
            </div>
            {% for s in sliders %}
            <div id="html{{ s.id }}" class="nivo-html-caption">
                {{ s.title|raw }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="module span4 {{ (sliders is empty) ? 'offset4' }}">
        {{ form_open('login', {'autocomplete': 'off', 'class' : 'form-vertical'})|raw }}
            <div class="module-head">
                <h3>Login</h3>
            </div>
            <div class="module-body">
               {{ get_flashdata('login')|raw }}
                <div class="control-group">
                    <div class="controls row-fluid">
                        <input class="span12" name="email" type="text" placeholder="Username" value="{{ set_value('email') }}" autofocus>
                        {{ form_error('email')|raw }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls row-fluid">
                        <input class="span12" name="password" type="password" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="module-foot">
                <div class="control-group">
                    <div class="controls clearfix">
                        <button type="submit" class="btn btn-large btn-primary pull-right">Login</button>
                        {# <a href="{{ site_url('login/lupa_password') }}">Lupa password?</a> #}
                    </div>
                </div>
            </div>
        {{ form_close()|raw }}
    </div>
</div>
{% endblock %}
