{% extends "layout-private.html" %}

{% block title %}
Tambah Kegiatan - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('jurnal', 'Jurnal')|raw }} / Tambah Kegiatan</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('jurnal')|raw }}

        {{ form_open_multipart('jurnal/tambah/' ~ type ~ '/' ~ preview_id, {'class' : 'form-horizontal row-fluid', 'id' : 'form-materi'})|raw }}
            <div class="control-group">
                <label class="control-label">Judul <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="judul" class="span12" value="{{ set_value('judul') }}" required>
                    <br>{{ form_error('judul')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Tanggal <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="date" name="tanggal" class="span12" value="{{ set_value('tanggal') }}" required>
                    <br>{{ form_error('tanggal')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Pukul <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="time" name="pukul" class="span12" value="{{ set_value('pukul') }}" required>
                    <br>{{ form_error('pukul')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Kegiatan <span class="text-error">*</span></label>
                <div class="controls">
                    <textarea name="kegiatan" id="konten" class="texteditor" required>{{ set_value('kegiatan')|raw }}</textarea>
                    <br>{{ form_error('kegiatan')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Media <span class="text-error"></span></label>
                <div class="controls">
                    <input type="file" name="media" class="span12" accept="image/*|video/*">
                    <br>{{ form_error('media')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Instagram <span class="text-error"></span></label>
                <div class="controls">
                    <input type="text" name="instagram" class="span12" value="{{ set_value('instagram') }}" required>
                    <br>{{ form_error('isntagram')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="status" value="draft" class="btn btn-primary">Simpan Saja</button>
                    <!-- <button type="submit" name="status" value="publish" class="btn btn-success">Simpan & Terbitkan</button> -->
                    <a href="{{ site_url('jurnal') }}" class="btn btn-default">Kembali</a>
                </div>
            </div>

        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}

{% block js %}
    <!-- {% if preview_id is not empty %}
    <script type="text/javascript">
        window.open(site_url + '/materi/detail/{{ preview_id }}', '_tab');
    </script>
    {% endif %} -->
{% endblock %}
